body {
  font-family: "PT Sans", Arial, serif;
  font-size: 16px;
}
.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently not supported by any browser */
}
.main {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
.cursor {
  cursor: default;
}
.header {
  flex: 0 0 auto;
  margin-bottom: 5px;
  width: 100%;
  height: 145px;
  background: rgb(2, 0, 36);
  background: -moz-linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(125, 135, 240, 1) 50%,
    rgba(0, 44, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(125, 135, 240, 1) 50%,
    rgba(0, 44, 255, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(125, 135, 240, 1) 50%,
    rgba(0, 44, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#002cff",GradientType=1);
  position: sticky;
  top: 0px;
  z-index: 5;
  @media (orientation: landscape) {
    position: static;
  }
}
.header__body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  max-height: 40%;
  & > h1 {
    margin-bottom: 10px;
    padding: 5px;
    cursor: pointer;
  }
  & > p {
    padding: 5px;
  }
}
.title {
  font-size: 1.5em;
  letter-spacing: 3px;
  font-weight: 700;
  color: rgb(6, 85, 19);
  text-shadow: 2px 1px 3px rgb(6, 85, 19);
}
.subtitle {
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 2px;
  color: rgb(71, 48, 20);
  text-shadow: 1px 1px 2px rgb(71, 48, 20);
}
.header__image {
  display: none;
}
.header__menu {
  width: 100%;
  margin: 20px 0;
  display: flex;
  justify-content: flex-start;
}
.menu {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
.menu_item {
  width: 23%;
  height: 40px;
  border: 1px solid #000;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  top: 0;
  transition: 0.6s ease 0s;
}
.items {
  background: rgb(34, 193, 195);
  background: -moz-linear-gradient(
    15deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(210, 219, 142, 1) 50%,
    rgba(248, 253, 45, 1) 100%
  );
  background: -webkit-linear-gradient(
    15deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(210, 219, 142, 1) 50%,
    rgba(248, 253, 45, 1) 100%
  );
  background: linear-gradient(
    15deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(210, 219, 142, 1) 50%,
    rgba(248, 253, 45, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#f8fd2d",GradientType=1);
  &:hover {
    top: 5px;
    transition: 0.6s ease 0s;
  }
}
.menu_link {
  font-size: 0.9em;
  font-weight: 700;
  color: rgb(71, 48, 20);
  letter-spacing: -1px;
}
.active,
.items:hover {
  font-size: 1.1em;
  letter-spacing: -1px;
  background-color: burlywood;
  color: rgb(26, 24, 23);
  border: 3px solid rgb(71, 48, 20);
}

.content {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.top__sidebar {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 5px;
}
.sidebar__body {
  margin: 0 2px;
  padding: 5px;
  &:nth-child(even) {
    display: none;
  }
  &:nth-child(odd) {
    width: 50%;
  }
  min-height: 100px;
  background-color: chartreuse;
  border: 1px solid chartreuse;
}
.content__main {
  flex: 1 1 auto;
  width: 100%;
  margin-bottom: 5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.left__sidebar,
.right__sidebar,
.sidebar {
  display: none;
}

.main__content {
  flex: 1 1 auto;
  width: 100%;
  padding: 5px 15px;
  text-align: justify;
  background-color: darkblue;
  border: 1px solid darkblue;
  .title {
    text-align: center;
    letter-spacing: 0px;
    font-style: italic;
    margin-bottom: 20px;
  }
  &.indent > p {
    text-indent: 30px;
  }
  p:not(:last-child) {
    margin-bottom: 3px;
  }
  & p:last-child {
    margin-bottom: 10px;
  }
  & p:first-child::first-letter {
    font-family: fantasy;
    color: red;
    font-size: 150%;
    font-style: italic;
    font-weight: 700;
    display: inline-block;
    margin-right: 5px;
  }
}

.footer {
  flex: 0 0 auto;
  width: 100%;
  min-height: 60px;
  padding: 0 5px;
  background: rgb(2, 0, 36);
  background: -moz-linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(125, 135, 240, 1) 50%,
    rgba(0, 44, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(125, 135, 240, 1) 50%,
    rgba(0, 44, 255, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(125, 135, 240, 1) 50%,
    rgba(0, 44, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#002cff",GradientType=1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 0;
  z-index: 5;
  p {
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    color: rgb(71, 48, 20);
    letter-spacing: 2px;
    text-shadow: 2px 1px 3px rgb(71, 48, 20);
  }
}
